body {
    display: flex;
    background-color: black;
    justify-content: center;
    
}

.RegularButton {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 50%;
}

.Results {

    background-color: black;
    color: white;
}

.FirstRow {
    display: flex;
    justify-content: center;
    
}

.SecondRow {
    display: flex;
}

.ThirdRow {
    display: flex;
}

.FourthRow {
    display: flex;
}

.FifthRow {
    display: flex;
}

.orange {
    background-color: orange;
}

.zero {
    padding-right: 50px;
}